<div class="message-input">
  <%= form_for @message do |f| %>
    <%= f.hidden_field :room_id, value: params[:id] %>
    <%= f.text_area :content %>
    <%= f.submit "Send", id: "submitMessage" %>
  <% end %>
</div>
