<h1>Sample App</h1>
<p>Hi <%= @user.name %>,</p>
<p>you required us to reset password for your account, click this link to reset password:</p>

<%= link_to "Reset password", edit_password_reset_url(@password_reset_token, email: @user.email) %>
