<div class="chat-status">
  <div class="rooms">
    <h1>Rooms</h1>
    <ul>
      <% @rooms.each do |room| %>
        <li>
          <%= link_to room.name, room_path(room) %>
        </li>
      <% end %>
    </ul>
  </div>
<div class="status">
  <%= render template: "onlines/index" %>
</div>
</div>
